extends layout

block content
  script
    $(document).ready(function() {
      $('.sendBtn').on('click', function(e) {
        e.preventDefault();
        var message = $('.messageBox').val();
        $('.chatBox').val($('.chatBox').val() + message);
        socket.emit('adminSend', { message: message });
      });
    });

    socket.on('sendMsgAdmin', function(data) {
      $('.chatBox').val($('.chatBox').val() + data.message);
    });

  h1= title
  p Welcome to #{title}

  div
    form#chatForm
      textarea.chatBox#chatBox(name='chat')
      p
        input.messageBox#messageBox(type='text', name='message')
      button.sendBtn#sendBtn Send
