extends layout

block head
  script(src='/js/chat.js')

block content
  h1= title
  p Welcome to #{title}

  div
    form#chatForm
      textarea.chatBox#chatBox(name='chat')
      p
        input.messageBox#messageBox(type='text', name='message')
      button.sendBtn#sendBtn Send

    div#users

    form.adduserform(method='post', name='setuser')
      p
        input.username(type='text', name='username')
      button.setUser Join

  div#privateChatsWrapper