extends layout

block head
  script(src='/js/chat.js')

block content
  h1= title
  p Welcome to #{title}

  div
    div
      if user
        a.logoutGoogle(href='/logout') Logout from Google
    div.chatWrapper
      form#chatForm
        div
          textarea.chatBox#chatBox(name='chat', readonly='readonly')
        div.input-append
          input.span2.messageBox#messageBox(type='text', name='message')
          button.btn.sendBtn#sendBtn Send

    div#users

    div.userWrapper
      form.adduserform(method='post', name='setuser')
        div.input-append
          if user
            input.span2.username(type='text', name='username', placeholder='Nickname', value= user.displayName)
          else
            input.span2.username(type='text', name='username', placeholder='Nickname')
          button.btn.setUser Join

      if (!user)
        a.loginGoogle(href="/auth/google") Login with Google

    div#privateChatsWrapper
