extends layout

block content
  script
    $(document).ready(function() {
      $('.setUser').on('click', function(e) {
        e.preventDefault();
        var username = $('.username').val();
        socket.emit('addUser', { username: username });
      });
    });

  h1= title
  p Welcome to #{title}

  form.user(method='post', name='setuser')
    p
      input.username(type='text', name='username')
    button.setUser Join
