doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', scr='/bootstrap/js/bootstrap.min.js')
    script
      var socket = io.connect('http://node-chat.com');

    block head
  body
    block content
